body {
    margin: 0;
    background-color: #e7f5fa;
}

.header {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding-bottom: 9px;
    z-index: 300;
}

.namelogo {
    padding-left: 50px;
    padding-top: 9px;
    max-width: 50px;
    max-height: 50px;
    background-color: white;
}

.navbar {
    font-family: Inter, sans-serif;
    text-decoration: none;
    color: #105269;
    padding-top: 9px;
}

.navbar ul {
    list-style: none;
    text-align: right;
    padding: 0px 50px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-align: center;
    text-decoration: none;
    font-family: Inter, sans-serif;
    color: #105269;
    display: block;
    padding: 0px 20px;
}

.navbar a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

hr {
    position: sticky;
    top: 46px;
    margin: 0;
    border-bottom: 0;
}

.socials {
    position: fixed;
    top: 50%;
    transform: translateY(-20%);
    padding-left: 50px;
}

.socials a {
    display: block;
    text-align: center;
    padding: 10px;
    transition: all 3s ease;
    color: black;
    font-size: 20px;
}

.right {
    position: fixed;
    right: 90px;
    top: 46px;
}

.vl {
    display: block;
    height: 273px;
    width: 0.5px;
    margin: 0px auto;
    background-color: black;
}

article {
    margin-top: 100px;
    margin-bottom: 0px;
}

h1 {
    font-family: Inter, sans-serif;
    font-size: 30px;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-family: Inter, sans-serif;
    color: black;
    margin-bottom: 0;
}

h5 {
    font-family: Inter, sans-serif;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-family: Inter, sans-serif;
    color: black;
    line-height: 1.4;
    max-width: 640px;
    word-wrap: break-word;
}

.intro {
    display: flex;
    margin: 15% 15% 5% 15%;
    justify-content: center;
    align-items: center;
}

.intro img {
    font-family: Inter, sans-serif;
    height: 50%;
    width: 50%;
    border-radius: 50%;
    border: solid 5px .105169;
    margin-right: 100px;
}

.uw-involve {
    background-color: #e7f5fa;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.involvements {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.involvements a {
    text-decoration: none;
    color: #f92c85;
}

.involvements a:hover{
    text-decoration: underline;
}

.curly {
    font-size: 80px;
    padding-bottom: 12px;
    font-weight: 300;
}

.activities {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.activities h5 {
    line-height: 1.4;
    font-weight: 300;
    font-size: medium;
}

.footer {
    text-align: center;
    font-family: Inter, sans-serif;
    color: black;
}

.connect {
    font-size: 20px;
    font-weight: lighter;
    margin: 20px 20px;
}

.cntlink {
    text-decoration-color: black;
    color: black;
}

.cr {
    color: gray;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}