body {
    margin: 0;
}

.header {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding-bottom: 9px;
    z-index: 300;
}

#name {
    padding-left: 50px;
    padding-top: 9px;
    font-family: Inter, sans-serif;
    text-decoration: none;
    background-color: white;
    color: black;
}

#name.hover{
    background-color: white;
    color: black;
}

#navbar {
    font-family: Inter, sans-serif;
    text-decoration: none;
    background-color: white;
    color: black;
    padding-top: 9px;
}

#navbar ul {
    list-style: none;
    text-align: right;
    padding: 0px 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#navbar li {
    display: inline-block;
}

#navbar a {
    text-align: center;
    text-decoration: none;
    font-family: Inter, sans-serif;
    color: black;
    display: block;
    padding: 0px 20px;
}

#navbar a:hover {
    background-color: white;
    color: black;
}

hr {
    position: sticky;
    top: 46px;
    background-color: white;
    margin: 0;
    border-bottom: 0;
}

#socials {
    position: fixed;
    top: 50%;
    transform: translateY(-20%);
    padding-left: 50px;
}

#socials a {
    display: block;
    text-align: center;
    padding: 10px;
    transition: all 3s ease;
    color: black;
    font-size: 20px;
}

#right {
    position: fixed;
    right: 90px;
    top: 46px;
}

.vl {
    display: block;
    height: 273px;
    width: 0.5px;
    margin: 0px auto;
    background-color: black;
}

article {
    margin-top: 100px;
    margin-bottom: 100px;
}

p {
    font-family: Inter, sans-serif;
    color: black;
    line-height: 1.4;
    max-width: 640px;
    word-wrap: break-word;
}

h1 {
    color: #B7A57A;
}

h5 {
    font-family: Inter, sans-serif;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
    margin-top: 200px;
    margin-bottom: 0;
}

.title h1 {
    color: black;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: Inter, sans-serif;
}

.team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 640px;
}

#problem, #sol{
    color: #B7A57A;
}

.research {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
    margin-top: 50px;
    margin-bottom: 0;
}

.research a {
    text-decoration: none;
    font-weight: bold;
    color: blueviolet;
}

.research a:hover{
    text-decoration: underline;
}

.moodboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
    margin-top: 50px;
    margin-bottom: 0;
}

.moodboard img {
    max-width: 640px;
}

.footer {
    text-align: center;
    font-family: Inter, sans-serif;
    color: black;
}

#connect {
    font-size: 20px;
    font-weight: lighter;
    margin: 20px 20px;
}

#cntlink {
    text-decoration-color: black;
    color: black;
}

#cr {
    color: gray;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}