* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, 'Roboto', sans-serif;
  background-color: #e7f5fa;
  color: black;
  cursor: url('../../public/img/Cursor.png'), auto;
}

a, button {
  cursor: url('../../public/img/Cursor.png'), auto;
}

.root-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.namelogo {
  max-width: 50px;
  max-height: 50px;
}

.navbar, .menu ul {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  background-color: white;
}

.menu {
  margin-left: auto;
}

.menu li a {
  text-align: center;
  text-decoration: none;
  color: #105269;
  margin: 0 5px;
  padding: 2.5px 5px;
  position: relative;
  z-index: 1;
}

.menu li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #105269;
  border-radius: 10px;
  top: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
  z-index: -1;
}

.menu li a:hover {
  color: white;
}

.menu li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.footer {
  text-align: center;
  background-color: white;
  padding: 15px 0;
  margin-top: auto;
}

.connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.connect h3 {
  font-weight: 400;
}

.cntlink {
  color: #f92c85;
  text-decoration: underline;
  margin: 0 0 0 4px;
}

.socials, .socials.expanded {
  max-width: 800px;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.socials.expanded,
.cntlink {
  pointer-events: auto;
}

.line {
  width: 2rem;
  height: 1.5px;
  background-color: white;
  margin-left: 5px;
  margin-right: auto;
  transform: scaleX(0.2);
  transform-origin: left;
  transition: transform 0.5s;
}

.socials.expanded .line {
  background-color: black;
  transform: scaleX(1);
}

.socials-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.socials-items {
  margin-inline: 10px;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.socials-items:nth-child() {
  transform: translateY(50px);
}

.socials.expanded .socials-items {
  opacity: 1;
  transform: translateY(0);
}

.socials-items i.fa-envelope {
  color: #1c2022;
}

.socials-items i.fa-linkedin-in {
  color: #0077b5;
}

.socials-items i.fa-instagram {
  color: #c32aa3;
}

.cr {
  width: 100%;
  color: gray;
  font-size: 10px;
  padding-top: 10px;
}

article, h1, h3, h5 {
  margin-top: 0;
  margin-bottom: 0;
}

.intro h1, p {
  margin: 0;
  padding: 0;
}

.intro, .intro div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greet {
  color: #f92c85;
}

.intro {
  font-size: 18px;
  padding: 100px 0;
}

.major {
  font-size: 16px;
  line-height: 1.4;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.work a {
  text-decoration: none;
  color: black;
}

.ezpark, .meye {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.desc {
  display: flex;
  flex-direction: column;
}

.img {
  position: relative;
}

.logo {
  display: block;
  width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  color: #e7f5fa;
  opacity: 0;
  transition: opacity 0.5s;
}

.text > * {
  transform: translateY(20px);
  transition: transform 0.5s;
}

.text:hover {
  opacity: 1;
}

.text:hover > * {
  transform: translateY(0);
}

.prompt, .prompt2 {
  font-size: 14px;
  margin: 2% 8%;
}

.prompt2 {
  color: #f92c85;
  font-style: italic;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 40px 20px 40px;
}

.about img {
  width: 50%;
  height: auto;
  border-radius: 50%;
  border: solid 5px #105169;
}

.about h1 {
  font-size: 24px;
}

.about p {
  font-size: 14px;
  max-width: 800px;
  word-wrap: break-word;
  margin: 20px 0;
}

.involvements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 40px;
}

.involvements a {
  text-decoration: none;
  color: #f92c85;
}

.involvements a:hover{
  text-decoration: underline;
}

.curly {
  display: none;
  font-size: 80px;
  padding-bottom: 12px;
  font-weight: 300;
}

.activities {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 0;
}

.activities div {
  margin: 5px 0;
}

.activities h5 {
  line-height: 1.4;
  font-weight: 300;
  font-size: 16px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.resume {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resumepic {
  margin-top: 100px;
  margin-bottom: 50px;
  width: 95%;
  height: inherit;
  box-shadow: 0px 20px 40px gray;
}

.previews {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  background: none;
  border: none;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 50px;
  position: relative;
}

button a {
  color: #105269;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  position: relative;
}

button a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #105269;
  border-radius: 25px;
  top: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
  z-index: -1;
}

button a:hover {
  color: white;
}

button a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* ezpark ------------------------ */
.ezpark-main section {
  margin: 25px;
}

.ezpark-main img {
  max-width: 240px;
}

.ezpark-main p {
  margin: 20px;
  font-size: 12px;
}

.ezpark-main h1 {
  color: #B7A57A;
  font-size: 22px;
}

.ezpark-intro, section.team,
.team div, .research, .moodboard,
.userp, .sitemap, .lofi, .style,
.hifi, .moodboard div, .userp div,
.sitemap div, .lofi div,
.style div, .hifi div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.moodboard div, .userp div,
.sitemap div, .lofi div,
.style div, .hifi div {
  margin: 0 20px;
}

.ezpark-intro h1 {
  margin-top: 25px;
}

p.statement {
  margin: 0 20px 20px;
}

section.team {
  justify-content: space-between;
  margin: 5px 25px;
}

.team div {
  margin: 10px;
}

.team p {
  margin: 2px;
  text-align: center;
}

section.focus {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 15px;
}

.focus h1 {
  padding: 20px 20px 0;
}

.problem, .sol {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #4b2e83;
}

.problem p, .sol p {
  color: #e7f5fa;
}

.research a {
  text-decoration: none;
  font-weight: bold;
  color: blueviolet;
}

.research a:hover {
  text-decoration: underline;
}

.userp p {
  margin: 10px 20px;
}

iframe {
  width: 280px;
}

.ezpark-main .cr {
  margin: 0;
}
/* ezpark end -------------------- */

@media (min-width: 200px) {
   .dropdown-btn {
    border: 0;
    font-size: 25px;
    padding: 5px;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: block;
  }
  
  .dropdown-btn:hover {
    background-color: #e7f5fa;
  }

  .menu ul {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    display: none;
  }

  .menu.expanded ul {
    display: block;
  }

  .menu li {
    list-style-type: none;
    text-align: center;
    margin: 0 5px;
  }
  
  .menu li a {
    display: block;
    width: 100%;
  }

  .about h1, .hi {
    text-align: center;
  }
}

@media (min-width: 598px) {
  .dropdown-btn {
    display: none;
  }

  .menu ul, .menu.expanded ul {
    display: flex;
    flex-direction: row;
    position: static;
    padding: 0;
  }
  
  .menu li {
    margin: 0 10px;
  }

  .intro {
    font-size: 19px;
  }
  
  .major {
    font-size: 17px;
  }

  .ezpark, .meye {
    padding: 20px;
  }

  .prompt, .prompt2 {
    font-size: 16px;
    margin: 3% 10%;
  }

  .about {
    margin: 100px 80px 20px;
  }

  .about p {
    font-size: 15px;
  }

  .involvements {
    margin: 20px 80px;
  }

  .activities h5 {
    font-size: 16px;
  }

  .resumepic {
    width: 75%;
  }

  .connect {
    flex-direction: row;
  }

  .line {
    width: 3rem;
    height: 2px;
  }

  .ezpark-main img {
    max-width: 400px;
  }
  
  .ezpark-main h1 {
    font-size: 24px;
  }

  .ezpark-main p {
    font-size: 14px;
  }

  .ezpark-intro h1 {
    font-size: 30px;
  }

  section.team,
  section.focus {
    flex-direction: row;
  }

  .focus h1 {
    padding: 10px 10px 0;
  }

  .problem, .sol {
    margin: 10px 5px;
  }

  .problem p, .sol p {
    margin: 10px;
  }

  iframe {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .namelogo {
    max-width: 60px;
    max-height: 60px;
    margin-left: 15px;
  }
  
  .menu li {
    margin: 0 15px;
    padding: 5px 15px;
    font-size: 19px;
  }

  .connect {
    font-size: 20px;
  }

  .cr {
    font-size: 12px;
  }

  .intro {
    font-size: 22px;
    padding: 150px 0;
  }

  .major {
    font-size: 18px;
  }

  .prompt, .prompt2 {
    font-size: 18px;
    margin: 2% 12%;
  }

  .about {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 100px 40px 20px;
  }

  .about img {
    width: 40%;
  }

  .about p {
    font-size: 16px;
  }

  .about div {
    margin-left: 40px;
  }

  .involvements {
    flex-direction: row;
    margin: 20px 40px;
  }

  .involvements h1 {
    text-align: center;
  }

  .curly {
    display: block;
    padding: 12px 50px;
  }

  .activities h5 {
    font-size: 17px;
  }

  .resumepic {
    width: 55%;
  }

  .ezpark-main p {
    font-size: 16px;
  }
 
  .moodboard, .userp, 
  .sitemap, .lofi, 
  .style {
    flex-direction: row;
  }

  div.userp-img {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .userp p {
    margin: 20px;
  }

  iframe {
    width: 850px;
  }
}

@media (768px <= width <= 992px) {
  .ezpark-main img {
    max-width: 500px;
  }
}

@media (min-width: 992px) {
  .namelogo {
    max-width: 70px;
    max-height: 70px;
    margin-left: 15px;
  }

  .menu li {
    padding: 5px 20px;
    font-size: 22px;
  }

  .connect {
    font-size: 22px;
  }

  .intro {
    font-size: 26px;
  }

  .major {
    font-size: 24px;
  }

  .work {
    flex-direction: row;
  }

  .ezpark, .meye {
    padding: 5px;
  }

  .prompt, .prompt2 {
    font-size: 16px;
    margin: 2% 12%;
  }

  .about {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 150px 60px 20px;
  }

  .about img {
    width: 30%;
  }

  .about div {
    margin-left: 100px;
  }

  .about h1 {
    font-size: 36px;
  }

  .about p {
    font-size: 20px;
  }

  .involvements {
    margin: 40px 90px;
  }

  .involvements h1 {
    font-size: 36px;
  }

  .involvements .curly {
    display: block;
    padding: 12px 35px;
    font-size: 60px;
  }

  .activities h5 {
    font-size: 20px;
  }

  .resumepic {
    width: 45%;
  }

  .ezpark-main p {
    font-size: 18px;
  }

  .ezpark-main img {
    max-width: 550px;
  }

  .focus h1 {
    padding: 20px 20px 0;
  }

  .problem, .sol {
    margin: 20px 10px;
  }

  .problem p, .sol p {
    margin: 20px;
  }
}

@media (min-width: 1200px) {
  .ezpark-main section {
    margin: 50px 150px;
  }

  .ezpark-main img {
    max-width: 600px;
  }
}