* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, 'Roboto', sans-serif;
  background-color: #e7f5fa;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 10px;
  z-index: 100;
}

.namelogo {
  display: flex;
  align-items: center;
  max-width: 70px;
  max-height: 70px;
  margin-left: 20px;
}

.navbar {
  text-decoration: none;
  color: #105269;
  position: relative;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 16px 50px;
  position: relative;
}

.navbar a {
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  color: #105269;
  margin: 0 20px;
  padding: 5px 15px;
  position: relative;
  overflow: hidden;
}

.navbar a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #105269;
  border-radius: 10px;
  top: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
  z-index: -1;
}

.navbar a:hover {
  color: white;
}

.navbar a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* .socials {
  position: fixed;
  top: 50%;
  transform: translateY(-20%);
  padding-left: 50px;
}

.socials a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 3s ease;
  color: black;
  font-size: 20px;
} */

article, h1, h5 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  margin-bottom: 0;
}

h5 {
  color: darkgray;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding-top: 250px;
  padding-bottom: 150px;
}

.greet {
  color: #f92c85;
}

.intro h1, p {
  margin: 0;
  padding: 0;
}

.major {
  font-size: 25px;
  line-height: 1.4;
}

.work a {
  text-decoration: none;
  color: #4B2E83;
}

.ezpark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15%;
  padding: 20px 0;
}

.desc {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.img {
  position: relative;
  width: 70%;
}

.logo {
  display: block;
  width: 100%;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-family: Inter, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.text > * {
  transform: translateY(20px);
  transition: transform 0.5s;
}

.text:hover {
  opacity: 1;
}

.text:hover > * {
  transform: translateY(0);
}

/* .prompt {
  padding: 20%;
} */

.meye {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin-right: 20px;
  align-items: center;
  margin: 0 15%;
  padding: 20px 0px;
}

.footer {
  text-align: center;
}

.connect {
  font-size: 20px;
  font-weight: lighter;
  margin: 20px 20px;
}

.cntlink {
  color: black;
}

.cr {
  color: gray;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}