* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, 'Roboto', sans-serif;
  /* background-color: #faf6f1; */
  background: linear-gradient(30deg, #9983c7 0%, #341d6510 100%), radial-gradient(94.51% 124.88% at 94.32% 94.43%, #41f4ffc7 0%, rgba(128, 217, 255, 0.78) 46.52%, rgba(65, 198, 255, 0) 100%), linear-gradient(41deg, #FFFCE6 4.33%, rgba(255, 252, 230, 0) 73.7%); 
  background-blend-mode: normal,normal,normal,normal,normal,normal;
  background-size: 150% 150%;
  /* old bg color -> #e7f5fa */
  /* color: #285943; */
  color: #1c2022;
  animation: bg 10s ease-in-out infinite alternate; 
  cursor: url('../../public/img/Cursor.png'), auto;
}

@keyframes bg {
  0% {
    background-position: left;
  }
  25% {
    background-position: bottom;
  }
  50% {
    background-position: top;
  }
  100% {
    background-size: right;
  }
}

.root-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a, button {
  cursor: url('../../public/img/Cursor.png'), auto;
}

article, h1, h3 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

header {
  padding: 10px;
}

header, .navbar {
  display: flex;
  align-items: center;
}

.namelogo {
  max-width: 50px;
  max-height: 50px;
}

header, .menu ul {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.menu li a {
  text-align: center;
  text-decoration: none;
  /* color: #285943; */
  color: #1c2022;
  padding: 10px;
  position: relative;
  font-weight: 500;
  z-index: 1;
}

.menu li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: #285943; */
  background-color: #341D65;
  border-radius: 10px;
  top: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
  z-index: -1;
}

.menu li a:hover {
  color: white;
}

.menu li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.error-page {
  margin: 250px;
  font-size: 40px;
}

/*-------- FOOTER --------*/
.footer, .connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: auto;
}

.connect {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 30px;
  margin: 10px 0;
  border-radius: 20px;
  max-width: 800px;
}

.connect h3 {
  font-weight: 500;
}

.cntlink {
  /* color: #f92c85; */
  color: #3066BE;
  text-decoration: underline;
  margin: 0 0 0 8px;
}

.socials, .socials.expanded {
  max-width: 800px;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.socials.expanded,
.cntlink {
  pointer-events: auto;
}

.line {
  width: 2rem;
  height: 1.5px;
  margin-left: 5px;
  margin-right: auto;
  transform: scaleX(0.2);
  transform-origin: left;
  transition: transform 0.5s;
}

.socials.expanded .line {
  background-color: black;
  transform: scaleX(1);
}

.socials-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.socials-items {
  margin-inline: 10px;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.socials-items:nth-child() {
  transform: translateY(50px);
}

.socials.expanded .socials-items {
  opacity: 1;
  transform: translateY(0);
}

.socials-items i.fa-envelope {
  color: #1c2022;
}

.socials-items i.fa-linkedin-in {
  color: #0077b5;
}

.socials-items i.fa-instagram {
  color: #c32aa3;
}

.cr {
  width: 100%;
  font-size: 12px;
  padding: 15px;
}
/* --------- FOOTER END --------- */

.intro h1, .intro p {
  margin: 0;
  padding: 0;
}

.intro, .intro div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro .greet {
  /* color: #f92c85; */
  color: #3066BE;
}

.intro {
  font-size: 18px;
  padding: 50px 0 100px;
}

p.info {
  text-align: center;
  max-width: 400px;
  font-size: 16px;
  line-height: 1.4;
  margin-top: 10px;
}

.work {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 0 20px;
  margin: 0 auto 100px;
  column-gap: 15px;
  row-gap: 25px;
  max-width: 1250px;
}

.work a {
  text-decoration: none;
  /* color: #285943; */
  color: #3066BE;
}

.card {
  background-color: #fdfdfd;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.3s;
  max-width: 450px;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translate(0, -10px);
}

.desc {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 25px;
}

.img {
  position: relative;
}

.logo {
  display: flex;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  color: #e7f5fa;
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 20px 20px 0 0;
}

.text > * {
  transform: translateY(20px);
  transition: transform 0.5s;
}

.text:hover {
  opacity: 1;
}

.text:hover > * {
  transform: translateY(0);
}

.prompt, .prompt2 {
  font-size: 14px;
  margin: 10px 25px;
}

.prompt2 {
  color: #f92c85;
  font-style: italic;
}

.about, .me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.about {
  margin: 40px 40px 60px;
}

.about img {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  border-radius: 5%;
  border: solid 5px rgb(56 34 104);
  box-shadow: rgba(56, 34, 104, 0.4) 5px 5px, rgba(54, 38, 77, 0.3) 10px 10px;
}

.about h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

.about p {
  font-size: 14px;
  max-width: 800px;
  word-wrap: break-word;
  margin: 20px 0;
}

.involvements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 40px;
}

.involvements a {
  text-decoration: none;
  color: #3066BE;
}

.involvements a:hover{
  text-decoration: underline;
}

.curly {
  display: none;
  font-size: 80px;
  padding-bottom: 12px;
  font-weight: 300;
}

.activities {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 0;
}

.activities div {
  margin: 5px 0;
}

.activities h3 {
  line-height: 1.4;
  font-weight: 400;
  font-size: 16px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resumepic {
  margin: 50px 0;
  width: 95%;
  height: inherit;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.previews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

button {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px;
  position: relative;
}

button a {
  /* color: #285943; */
  color: #1c2022;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 20px;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

button a::before {
  content: '';
  position: absolute;
  width: calc(100% + 20px);
  height: calc(100% + 1px);
    /* background-color: #285943; */
  background-color: #341D65;
  border-radius: 10px;
  top: 0;
  left: -10px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
  z-index: -1;
}

button a:hover {
  color: white;
}

button a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* ezpark ------------------------ */
.ezpark-main section {
  margin: 25px;
}

.ezpark-main img {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.ezpark-main h1 {
  color: #4b2e83;
  font-size: 30px;
}

.ezpark-main p {
  margin: 20px;
  font-size: 14px;
}

.ezpark-main article {
  max-width: 800px;
}

.ezpark-main, .ezpark-intro, 
section.team, .team div, 
section.focus, .research, 
.moodboard, .userp, .sitemap, 
.lofi, .style, .hifi, 
.moodboard div, .userp div,
.sitemap div, .lofi div,
.style div, .hifi div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ezpark-intro h1 {
  margin-top: 25px;
}

.statement {
  max-width: 800px;
}

section.team {
  justify-content: space-between;
  margin: 5px 25px;
}

.team div {
  margin: 10px;
}

.team p {
  margin: 2px;
  text-align: center;
}

section.focus {
  justify-content: space-between;
  margin: 15px 0;
}

.focus h1 {
  padding: 20px 20px 0;
}

.problem, .sol {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #4b2e83;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.problem h1, .sol h1 {
  color: #b7a57a;
}

.problem p, .sol p {
  color: #e7f5fa;
}

.research a {
  text-decoration: none;
  font-weight: bold;
  color: blueviolet;
}

.research a:hover {
  text-decoration: underline;
}

.userp p {
  margin: 10px 20px;
}

.userp img {
  margin: 5px
}

iframe {
  width: 280px;
}

.ezpark-main .cr {
  margin: 0;
}
/* ezpark end -------------------- */

/* slangsphere start ------------- */
.ss-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ss-main section {
  margin: 25px 25px 50px 25px;
}

.ss-main img {
  max-width: 250px;
  margin: 0 20px 10px;
}

.ss-main h1 {
  background-color: #1c2022;
  color: #FAA918;
  font-size: 30px;
  padding: 10px 20px;
  margin: 0 20px;
  border-radius: 10px;
}

.ss-main h2 {
  margin: 10px 0;
  font-size: 30px;
  font-style: italic;
}

.ss-main p {
  margin: 20px;
}

.ss-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ss-intro h1 {
  margin-top: 25px;
}

section.team {
  justify-content: space-between;
  margin: 5px 25px;
}

.team p {
  margin: 2px;
  text-align: center;
}

section.ss-focus {
  background-color: #1c2022;
  margin: 0 0 20px 0;
}

.ss-focus h1 {
  padding: 20px 0 10px;
}

.ss-problem, 
.solution {
  padding: 10px;
  background-color: #1c2022;
}

.ss-problem {
  margin-top: 30px;
}

.solution {
  margin-bottom: 60px;
}

.ss-problem h1, 
.solution h1 {
  color: #FAA918;
}

.ss-problem p, 
.solution p {
  color: #e7f5fa;
  margin: 0 20px;
}

.ss-main section h3 {
  padding: 5px 0;
  margin: 5px 20px;
  color: #1c2022;
  text-decoration: underline solid #FAA918 4px;
}

.research h1, .survey h1,
.interview h1 {
  font-size: 28px;
}

.research p, .survey p,
.interview p, .sketches p,
.prototype p, .ss-hifi p {
  margin: 10px 20px;
}

.overview {
  border: solid 3px #1c2022;
  border-radius: 15px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.overview h1 {
  margin: 0;
  padding: 10px 40px;
  border-radius: 10px 10px 0 0 ;
}

.overview p {
  margin: 30px 40px;
}

.survey ul {
  margin: 20px;
  padding-left: 16px;
}

.survey li {
  margin-bottom: 10px;
}

.keypoints {
  display: flex;
  flex-direction: column;
}

.takeaway {
  flex-basis: 100%;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  background-color: #e7f5fa;
}

.takeaway h1 {
  margin: 0;
  border-radius: 10px 10px 0 0;
}

.takeaway p {
  padding: 30px 15px;
  margin: 0;
  border-radius: 0 0 10px 10px;
}

.ss-design, .sketches, 
.prototype, .ss-hifi,
.sketches-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.ss-design,
.product-display {
  background-color: #1c2022;
  padding: 30px 0;
}

.ss-design h1,
.product-display p {
  padding: 0 20px;
  margin: 0 20px;
}

.product-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  padding-top: 0;
}

.hifi-btn {
  background: #FAA918;
  border: 1px solid #FAA918;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  margin: 10px 40px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.hifi-btn:hover,
.hifi-btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #FAA918;
}

.hifi-btn:active {
  opacity: .5;
}
/* slangsphere end --------------- */

@media (min-width: 200px) {
  .intro h1 {
    font-size: 34px;
  }

  .dropdown-btn {
    border: 0;
    font-size: 25px;
    padding: 5px;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: block;
  }
  
  .dropdown-btn:hover {
    background-color: #e7f5fa;
  }

  .menu ul {
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    display: none;
    padding: 0;
  }

  .menu.expanded ul {
    display: block;
    background-color: rgb(237, 231, 222, 0.5);
    backdrop-filter: blur(10px);
    padding: 10px 0;
  }

  .menu li {
    list-style-type: none;
    text-align: center;
    margin: 0 5px;
  }
  
  .menu li a {
    display: block;
  }
}

@media (min-width: 598px) {
  header {
    justify-content: center;
  }

  .intro h1 {
    font-size: 36px;
  }

  .dropdown-btn {
    display: none;
  }

  .menu ul, .menu.expanded ul {
    display: flex;
    flex-direction: row;
    position: static;
    padding: 0;
    margin: 16px 10px;
  }

  .intro {
    font-size: 19px;
  }
  
  .major {
    font-size: 17px;
  }

  .prompt, .prompt2 {
    font-size: 16px;
    margin: 10px 35px;
  }

  .about {
    margin: 40px 80px 60px;
  }

  .about img {
    width: 80%;
  }

  .about p {
    font-size: 15px;
  }

  .involvements {
    margin: 20px 80px;
  }

  .activities h3 {
    font-size: 16px;
  }

  .resumepic {
    width: 75%;
  }
  
  .previews, .connect {
    flex-direction: row;
  }

  .line {
    width: 3rem;
    height: 2px;
  }

  .ezpark-main img {
    max-width: 400px;
  }
  
  .ezpark-main h1 {
    font-size: 24px;
  }

  .ezpark-main p {
    font-size: 14px;
  }

  .ezpark-intro h1 {
    font-size: 30px;
  }

  section.team,
  section.focus {
    flex-direction: row;
  }

  .focus h1 {
    padding: 10px 10px 0;
  }

  .problem, .sol {
    margin: 10px 5px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .problem p, .sol p {
    margin: 10px;
  }

  iframe {
    width: 400px;
  }

  .ss-main img {
    max-width: 500px;
  }

  .ss-problem, .solution,
  .ss-design h1 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .research h1, .survey h1, 
  .interview h1 {
    font-size: 30px;
  }

  .sketches-img {
    flex-direction: row;
  }

  .sketches-img img {
    max-width: 250px;
    margin: 0 5px 10px;
  }
}

@media (min-width: 768px) {
  .namelogo {
    max-width: 60px;
    max-height: 60px;
    margin-left: 15px;
  }
  
  .menu li {
    padding: 5px 10px;
    font-size: 18px;
  }

  .intro {
    font-size: 24px;
  }

  .major, p.info,
  .activities h3 {
    font-size: 18px;
  }

  .prompt, .prompt2 {
    margin: 8px 25px;
  }

  .about {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 40px;
  }

  .about img {
    width: 300px;
  }

  .about h2 {
    margin-top: 0;
  }

  .about p {
    font-size: 16px;
  }

  .about div {
    margin-left: 40px;
    max-width: 450px;
  }

  .about .me {
    margin-left: 0;
  }

  .involvements {
    flex-direction: row;
    margin: 20px 40px;
  }

  .involvements h2 {
    text-align: center;
  }

  .curly {
    display: block;
    padding: 12px 50px;
  }
  
  .connect {
    font-size: 20px;
  }

  .cr {
    font-size: 12px;
  }

  .ezpark-main p {
    font-size: 16px;
  }

  div.userp-img {
    flex-direction: row;
  }

  .userp p {
    margin: 20px;
  }

  iframe {
    width: 850px;
  }

  p.statement {
    margin: 20px 50px;
  }

  .ss-main section {
    margin: 50px;
  }

  section.ss-intro {
    margin-top: 25px;
  }

  section.team {
    margin: 5px 50px;
  }

  section.ss-focus {
    margin: 0 0 20px 0;
  }

  .ss-main img {
    max-width: 600px;
  }

  .sketches-img img {
    max-width: 320px;
  }
}

@media (min-width: 992px) {
  .namelogo {
    max-width: 70px;
    max-height: 70px;
    margin-left: 15px;
  }

  .intro {
    font-size: 26px;
  }

  p.info {
    max-width: 550px;
  }

  .major {
    font-size: 24px;
  }

  .card {
    margin: 5px;
  }

  .prompt, .prompt2 {
    font-size: 16px;
  }

  .about {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 60px 60px 30px;
  }

  .about img {
    width: 400px;
  }

  .about div {
    margin-left: 60px;
  }

  .about h1 {
    font-size: 25px;
  }

  .about p {
    font-size: 17px;
  }

  .involvements {
    margin: 40px 60px;
  }

  .resumepic {
    width: 55%;
  }

  .ezpark-main p {
    font-size: 18px;
  }

  .ezpark-main img {
    max-width: 450px;
  }

  .focus h1 {
    padding: 20px 20px 0;
  }

  .problem, .sol {
    margin: 20px 10px;
  }

  .problem p, .sol p {
    margin: 20px;
  }

  .ss-main img {
    max-width: 700px;
  }

  .ss-main p {
    font-size: 18px;
  }

  section.ss-intro {
    margin-top: 25px;
  }

  .ss-problem, .solution,
  .ss-design h1 {
    margin-left: 70px;
    margin-right: 70px;
  }

  .research h1, .survey h1, 
  .interview h1 {
    font-size: 36px;
  }

  .sketches-img img {
    max-width: 400px;
  }

  .ss-main section {
    margin: 70px;
  }

  section.team {
    margin: 5px 20px;
  }

  .team div {
    margin: 10px 30px;
  }

  section.ss-focus {
    margin: 0 0 20px 0;
  }

  .keypoints {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .about {
    margin: 80px 200px 30px;
  }

  .ezpark-main section {
    margin: 15px 150px;
  }

  .ezpark-main article {
    max-width: 1200px;
  }

  .ss-main img {
    max-width: 900px;
  }

  .sketches-img img {
    max-width: 500px;
  }

  .ss-main section {
    margin: 70px 200px;
  }

  section.ss-intro {
    margin-top: 25px;
  }

  section.team {
    margin: 5px 20px;
  }

  .team div {
    margin: 10px 30px;
  }

  section.ss-focus {
    margin: 0 0 20px 0;
  }

  .ss-problem, .solution,
  .ss-design h1 {
    margin-left: 170px;
    margin-right: 170px;
  }
}